<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{description}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://portalbridge.com" />
    <meta property="og:image" content="/wormhole.png" />
    <meta property="og:image:alt" content="Wormhole logo" />
    <meta property="og:description" content="{{description}}" />
    <meta name="twitter:site" content="@portalbridge_" />
    <meta name="twitter:creator" content="@portalbridge_" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta http-equiv="refresh" content="0; URL={{main}}" />
    <title>{{title}}</title>
  </head>
  <body style="background-color: #0A0629">
    <p style="text-align: center"><strong>go to:</strong> <a href="{{main}}">{{title}}</a></p>
  </body>
</html>